### The code is as follows : i used the data set of Graduate Admissions and compared the algorithms i have learned till now. I will use the RMS(Root Mean Squared ) Error as a tester of which model performed the best. The lowest score will mean the best performer as the diastance beteen the actual and the predicted model values will be the lowest.

In [32]:
import numpy as np 
import pandas as pd
import sklearn

In [8]:
df = pd.read_csv('/Users/Sudiptobhattacharjee/Downloads/Admission_Predict_Ver1.1.csv')
print('dataset loaded')
df.head()

dataset loaded

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [24]:
serialNo = df["Serial No."].values
df.drop(["Serial No."],axis=1,inplace = True)
df=df.rename(columns = {'Chance of Admit ':'Chance of Admit'})

In [25]:
x=df.drop('Chance of Admit',axis=1)
y=df['Chance of Admit']

In [26]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
X_norm=preprocessing.normalize(x)
X_train,X_test,y_train,y_test=train_test_split(X_norm,y,test_size=0.25)

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score,mean_squared_error,r2_score

In [30]:
regressors=[['Linear Regression :',LinearRegression()],['KneighborsRegression:',KNeighborsRegressor()],['Decision Tree Regression :',DecisionTreeRegressor()]]

In [39]:
reg_pred=[]
print('Results...\n')
for name,model in regressors:
    model=model
    model.fit(X_train,y_train)
    predictions = model.predict(X_test)
    rms=np.sqrt(mean_squared_error(y_test, predictions))
    reg_pred.append(rms)
    print(name,rms)

Results...

Linear Regression : 0.07550305844242029
KneighborsRegression: 0.08842352628118831
Decision Tree Regression : 0.09522184623288922

# As we can see the lowest rms value is of Linear Regression model hence it is the winner here